{% extends 'base.html' %}

{% block content %}

  <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Dashboard</h3>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid dashboard-2">
            <div class="row">
              <div class="col-xl-12 col-md-12 box-col-9">
                <div class="row">


                  <div class="col-lg-3 col-md-6 box-col-4">
                    <a href="">
                      <div class="card visitor-card">
                        <div class="card-header pb-0">
                          <div class="d-flex justify-content-between">
                            <div class="flex-grow-1">
                              <p class="square-after f-w-600 header-text-info">App Users<i class="fa fa-circle"> </i></p>
                              <h4></h4>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="right-side icon-right-info"><i class="fa fa-user"></i>
                            <div class="shap-block">
                              <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-3 col-md-6 box-col-4">
                    <a href="">
                      <div class="card profit-card">
                        <div class="card-header pb-0">
                          <div class="d-flex justify-content-between">
                            <div class="flex-grow-1">
                              <p class="square-after f-w-600 header-text-primary">App Drivers<i class="fa fa-circle"> </i></p>
                              <h4></h4>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="right-side icon-right-primary"><i class="fa fa-car"></i>
                            <div class="shap-block">
                              <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>



              

                  
                 
                </div>


                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>


{% endblock content %}
