{% load mytags %}
{% load static %}

<div class="left-side-bar">
  <div class="brand-logo">
    <a href="{% url 'admin_dashboard' %}">
      <img src="{% static 'assets/images/Teenzo.jpg' %}" alt="" class="dark-logo" />
    </a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
      <i class="ion-close-round"></i>
    </div>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <!-- <li class="dropdown">
          <li>
            <a href="javascript:void(0)" class="dropdown-toggle">
              <span class="micon bi bi-house"></span><span class="mtext">Home</span>
            </a>
            <ul class="submenu">
              <li><a href="{% url 'admin_dashboard' %}" class="{% active 'admin_dashboard' %}">Dashboard</a></li>
            </ul>
          </li>   
        </li> -->
        <li>
          <a href="{% url 'admin_dashboard' %}" class="dropdown-toggle no-arrow {% active 'admin_dashboard' %}">
            <span class="micon">
            <i class="icon-copy ion-home"></i></span>
            <span class="mtext">Dashboard</span>
          </a>
        </li>
        <li>
            <a href="{% url 'app_users_list' %}" class="dropdown-toggle no-arrow {% active 'app_users_list' %}">
              <span class="micon">
              <i class="icon-copy ion-person-stalker"></i></span>
              <span class="mtext">Users</span>
            </a>
        </li>
        <li>
          <a href="{% url 'subscriptions_list' %}" class="dropdown-toggle no-arrow {% active 'subscriptions_list' %}">
            <span class="micon">
            <i class="fa fa-id-card"></i></span>
            <span class="mtext">Subscriptions</span>
          </a>
        </li>
        <li>
          <a href="{% url 'subscribe_user_list' %}" class="dropdown-toggle no-arrow {% active 'subscribe_user_list' %}">
            <span class="micon">
            <i class="fa fa-id-card"></i></span>
            <span class="mtext">Subscribed Users</span>
          </a>
        </li>
        <li>
          <a href="{% url 'app_qrcode_list' %}" class="dropdown-toggle no-arrow {% active 'app_qrcode_list' %}">
            <span class="micon">
            <i class="icon-copy ion-person-stalker"></i></span>
            <span class="mtext">QRCode</span>
          </a>
        </li>
        <li>
          <a href="{% url 'about_update' 1 %}" class="dropdown-toggle no-arrow {% active 'about_update' 1 %}">
            <span class="micon">
            <i class="fa fa-address-book"></i></span>
            <span class="mtext">About Us</span>
          </a>
        </li>
        <li>
          <a href="{% url 'walkthrough_list' %}" class="dropdown-toggle no-arrow {% active 'walkthrough_list' %}">
            <span class="micon">
            <i class="icon ion-navicon-round"></i></span>
            <span class="mtext">App Walkthrough</span>
          </a>
        </li>
        <li>
          <a href="{% url 'screen_list' %}" class="dropdown-toggle no-arrow {% active 'screen_list' %}">
            <span class="micon">
            <i class="fa fa-mobile" aria-hidden="true"></i></span>
            <span class="mtext">First screen</span>
          </a>
        </li>
        <li>
          <a href="{% url 'disclaimer_list' %}" class="dropdown-toggle no-arrow {% active 'disclaimer_list' %}">
            <span class="micon">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
            <span class="mtext">Disclaimer</span>
          </a>
        </li>
        <li>
          <a href="{% url 'terms_condition_update' 1 %}" class="dropdown-toggle no-arrow {% active 'terms_condition_update' 1 %}">
            <span class="micon">
            <i class="fa fa-file" aria-hidden="true"></i></span>
            <span class="mtext">Terms and Condition</span>
          </a>
        </li>
        <li>
          <a href="{% url 'privacy_update' 1 %}" class="dropdown-toggle no-arrow {% active 'privacy_update' 1 %}">
            <span class="micon">
            <i class="fa fa-check-square" aria-hidden="true"></i></span>
            <span class="mtext">Privacy Policy</span>
          </a>
        </li>
        <li>
          <a href="{% url 'refund_update' 1 %}" class="dropdown-toggle no-arrow {% active 'refund_update' 1 %}">
            <span class="micon">
            <i class="fa fa-rupee" aria-hidden="true"></i></span>
            <span class="mtext">Refund Policy</span>
          </a>
        </li>
        <li>
          <a href="{% url 'send_notification_list' %}" class="dropdown-toggle no-arrow {% active 'send_notification_list' %}">
            <span class="micon">
            <i class="fa fa-bell" aria-hidden="true"></i></span>
            <span class="mtext">Notifications</span>
          </a>
        </li>
        <li>
          <a href="{% url 'time_update' 1 %}" class="dropdown-toggle no-arrow {% active 'time_update' 1 %}">
            <span class="micon">
            <i class="fa fa-clock-o" aria-hidden="true"></i></span>
            <span class="mtext">Upload Location Time</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-table"></span
            ><span class="mtext">Website CMS</span>
          </a>
          <ul class="submenu">
            <li><a href="{% url 'home_page_update' 1 %}" class="{% active 'home_page_update' 1 %}">Home section</a></li>
            <li><a href="{% url 'offer_update' 1 %}" class="{% active 'offer_update' 1 %}">Offer</a></li>
            <li><a href="{% url 'how_it_works_update' 1 %}" class="{% active 'how_it_works_update' 1 %}">How It Works</a></li>
            <li><a href="{% url 'icon_list' %}" class="{% active 'icon_list' %}">Icon Data</a></li>
            <li><a href="{% url 'feature_update' 1 %}" class="{% active 'feature_update' 1 %}">App Features</a></li>
            <li><a href="{% url 'testimonial_update' 1 %}" class="{% active 'testimonial_update' 1 %}">App Testimonial</a></li>
            <li><a href="{% url 'price_update' 1 %}" class="{% active 'price_update' 1 %}">Pricing</a></li>
            <li><a href="{% url 'screenshot_update' 1 %}" class="{% active 'screenshot_update' 1 %}">Screenshot</a></li>
            <li><a href="{% url 'FaQs_update' 1 %}" class="{% active 'FaQs_update' 1 %}">FAQS</a></li>
            <li><a href="{% url 'contact_update' 1 %}" class="{% active 'contact_update' 1 %}">Contact</a></li>
            <li><a href="{% url 'contact_list' %}" class="{% active 'contact_list' %}">Contact List</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'auth_logout' %}" class="dropdown-toggle no-arrow {% active 'auth_logout' %}">
            <span class="micon bi bi-box-arrow-right"></span><span class="mtext">Logout</span>
          </a>
        </li>
        <!-- <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-table"></span
            ><span class="mtext">Tables</span>
          </a>
          <ul class="submenu">
            <li><a href="basic-table.html">Basic Tables</a></li>
            <li><a href="datatable.html">DataTables</a></li>
          </ul>
        </li> -->
        
        
      </ul>
    </div>
  </div>
</div>