<div class="mb-4">

    <ul class="pagination mb-3">
    
        {% if page_obj.has_previous %}
          <li class="page-item"> <a href="?page=1" class="page-link">&laquo; First</a> </li>
          <li class="page-item"> <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a> </li>
        {% else %}
          <li class="page-item"> <a href="javascript:void(0)" class="page-link" disabled>Previous</a> </li>
        {% endif %}
    
        {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                  <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% elif page_obj.number > i|add:"-5" and page_obj.number < i|add:"+5"%}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
          <li class="page-item"> <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a> </li>
          <li class="page-item"> <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a> </li>
        {% endif %}
    
      </ul>
    
      <!-- <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span> -->
    
    </div>
    