{% extends 'base.html' %}

{% block content %}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Teenzo</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'admin_dashboard' %}">Teenzo</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="{% url 'admin_dashboard' %}">Offer</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Add
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        
                    </div>
                </div>
            </div>
            <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-title-custom">
                          <h4>Create App Offer</h4>
                        </div>
                      </div>
                      <div class="card-body">
                            
                            <form class="needs-validation" novalidate="" action="" method="post" enctype="multipart/form-data">
    
                                {% csrf_token %}
                                <div class="form-row">
                
                                    {% for field in form %}
                                        <div class="form-group col-sm-12">
                                            {{ field.label_tag }}
                                            {% if field.field.required %} <span class="required_sign">*</span> {% endif %}
                                            {{ field }}
                                            {{ field.errors }}
                                            {% if field.help_text %}
                                                <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                
                                </div>
                                <button class="btn btn-primary" type="submit">Create</button>
                            </form>
    
                      </div>
                    </div>
                </div>
    
            </div>
        </div>
        <!-- <div class="footer-wrap pd-20 mb-20 card-box">
            DeskApp - Bootstrap 4 Admin Template By
            <a href="https://github.com/dropways" target="_blank"
                >Ankit Hingarajiya</a
            >
        </div> -->
    </div>
</div>

{% endblock content %}	