{% extends 'base.html' %}
{% load static %}
{% block content %}


		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
				
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Teenzo</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="">Teenzo</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Icons
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
							</div>
						</div>
					</div>
					<!-- basic table  Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix mb-20">
							<div class="pull-left">
								<h4 class="text-blue h4">App Icons</h4>
								<!-- <p>Add class <code>.table</code></p> -->
							</div>
							<div class="pull-right">
							    {% if forloop.counter <= 4 %}	
								<a href="{% url 'icon_add' %}" class="btn btn-primary btn-block">
									Add Icon
								</a>
								{% endif %}
							</div>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Icon</th>
									<th scope="col">Numbers</th>
									<th scope="col">Title</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for item in data %}
								<tr>
									<td>{{item.icon}}</td>
									<td>{{item.number}}</td>
									<td>{{item.title}}</td>
									<td>
										<a class="btn btn-primary btn-block list-button" href="{% url 'icon_update' item.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="collapse collapse-box" id="basic-table">
							<div class="code-box">
								<div class="clearfix">
									<a
										href="javascript:;"
										class="btn btn-primary btn-sm code-copy pull-left"
										data-clipboard-target="#basic-table-code"
										><i class="fa fa-clipboard"></i> Copy Code</a
									>
									<a
										href="#basic-table"
										class="btn btn-primary btn-sm pull-right"
										rel="content-y"
										data-toggle="collapse"
										role="button"
										><i class="fa fa-eye-slash"></i> Hide Code</a
									>
								</div>
								<pre><code class="xml copy-pre" id="basic-table-code">
								<table class="table">
								<thead>
									<tr>
									<th scope="col">#</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									<th scope="row">1</th>
									</tr>
								</tbody>
								</table>
							</code></pre>
							</div>
						</div>
					</div>
					<!-- basic table  End -->
					<!-- Bordered table  start -->
					
					<!-- Bordered table End -->
					<!-- Striped table start -->
					
					<!-- Striped table End -->
					<!-- Responsive tables Start -->
					
					<!-- Responsive tables End -->
					<!-- Contextual classes Start -->

					<!-- Contextual classes End -->
				</div>
				<!-- <div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://github.com/dropways" target="_blank"
						>Ankit Hingarajiya</a
					>
				</div> -->
			</div>
		</div>
		
{% endblock content %}		


