{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Teenzo App">
    <meta name="keywords" content="Teenzo App">
    <meta name="author" content="Teenzo App">
	<!-- Page Title -->
	<title>Teenzo</title>
	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/Teenzo.jpg' %}"/>
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/Teenzo.jpg' %}"/>
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/Teenzo.jpg' %}"/>
	<!-- Google Fonts css-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- Bootstrap css -->
	<link href="{% static 'home_website/assets/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'home_website/assets/css/bootsnav.css' %}" rel="stylesheet" media="screen">
	<!-- Font Awesome icon css-->
	<link href="{% static 'home_website/assets/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{% static 'home_website/assets/css/flaticon.css' %}" rel="stylesheet" media="screen">
	<!-- Swiper's CSS -->
	<link rel="stylesheet" href="{% static 'home_website/assets/css/swiper.min.css' %}">
	<link rel="stylesheet" href="{% static 'home_website/assets/css/blink.css' %}">
	<!-- Animated css -->
	<link href="{% static 'home_website/assets/css/animate.css' %}" rel="stylesheet">
	<!-- Magnific Popup CSS -->
	<link href="{% static 'home_website/assets/css/magnific-popup.css' %}" rel="stylesheet">
	<!-- Main custom css -->
	<link href="{% static 'home_website/assets/css/custom.css' %}" rel="stylesheet" media="screen">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#navbar-menu" data-offset="71">
	
	<!-- Preloader starts -->
	<div class="preloader">
		<div class="sk-wave">
			<div class="sk-rect sk-rect1"></div>
			<div class="sk-rect sk-rect2"></div>
			<div class="sk-rect sk-rect3"></div>
			<div class="sk-rect sk-rect4"></div>
			<div class="sk-rect sk-rect5"></div>
		</div>
	</div>
	<!-- Preloader Ends -->

	<!-- Header Section Starts-->
	<header>
		<nav class="navbar navbar-default navbar-sticky bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="69" data-speed="1000">
			<div class="container">  
				<div class="attr-nav">
					<ul>
						<li class="menu-link"><a href="https://play.google.com/store/apps/details?id=com.teenzo.app" target="_blank">Download App Now</a></li>
						<li class="side-menu"><a href="#"><img style="width: 37px;height: 30px;"src="{% static 'home_website/assets/images/Hamburger.png' %}" alt="" /></a></li>
						<li class="blink">
							<a href="{% url 'offer_policy' %}">Lucky draw</a>
						</li>
					</ul>
				</div>        
				
				<div class="navbar-header">
					<a class="navbar-brand" href=""><img src="{% static 'home_website/assets/images/logo.png' %}" class="logo" alt=""></a>
				</div>
			</div>   
			
			<!-- Start Side Menu -->
			<div class="side">
				<a href="#" class="close-side"><i class="fa fa-times"></i></a>
				<div class="side-logo">
					<img src="{% static 'home_website/assets/images/logo.png' %}" alt="" />
				</div>
				
				<div class="widget" id="navbar-menu">
					<ul class="link">
						<li class="active scroll"><a href="#home">Home</a></li>
						<li class="scroll"><a href="#howitworks">How it Works</a></li>
						<li class="scroll"><a href="#features">Features</a></li>
						<li class="scroll"><a href="#about">About Us</a></li>
						<li class="scroll"><a href="#testimonial">Testimonial</a></li>
						<li class="scroll"><a href="#pricing">Pricing</a></li>
						<li class="scroll"><a href="#screenshot">Screenshot</a></li>
						<li class="scroll"><a href="#faq">FAQs</a></li>
						<li class="scroll"><a href="#contact">Contact</a></li>
						<li><a href="{% url 'offer_policy' %}">Lucky Draw</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- Header Section ends -->
	
	<!-- Banner Section Starts -->
	<section class="banner" id="home">
		<div class="main-logo">
			<img src="{% static 'home_website/assets/images/united.png' %}" alt="" />
			<h5>ID : 988148</h5>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<!-- Header content start -->
					<div class="header-content wow fadeInUp">
						<div class="banner-entry">
							<h4>{{home.sub_title}}</h4>
							<h2>{{home.main_title}}</h2>
							<!-- <h2>Modern design <br />App Landing Page</h2> -->
							<div class="description-container">
								<div class="short-description">
									<p>{{ home.description|safe|truncatechars:500 }}</p>
								</div>
								<div class="full-description" style="display: none;">
									<p>{{home.description|safe}}</p>
								</div>
							</div>
							<input type="checkbox" id="btn" />
							<label for="btn"></label>
							<!-- <p>Lorem Ipsum is simply dummy text of the printing and <br />typesetting industry. Lorem Ipsum has been the industry's<br />  standard dummy text ever since the 1500s,</p> -->
						</div>
						
						<div class="download-button">
							<span>Free Download</span>
							<a href="{{home.play_link}}" target="_blank"><i class="fa fa-play"></i></a>
							<!-- <a href="{{home.apple_link}}" target="_blank"><i class="fa fa-apple"></i></a> -->
						</div>
					</div>
					<!-- Header content start -->
				</div>
				
				<div class="col-md-5 col-sm-5">
					<!-- Header image start -->
					<div class="banner-image wow fadeInRight">
						<img src="{{home.img.url}}" alt="" />
					</div>
					<!-- Header image end -->
				</div>
			</div>
		</div>	
	</section>
	<!-- Banner Section Ends -->
	
	<!-- how it works and stats section starts -->
	<section class="how-it-works" id="howitworks">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8">
					<div class="how-it-work-title">
						<div class="section-title wow fadeInUp">
							<h2>{{how_works.title}}</h2>
							<p>{{how_works.description|safe}}</p>
						</div>
						
						<!-- <a href="#" class="btn-textlink">Know More</a> -->
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4">
					<div class="video-play wow fadeInRight">
						<!-- Video play button start -->
						<!-- <div class="btn-play">
							<figure>
								<img src="{{how_works.video_img.url}}" alt="" />
							</figure>
							
							<a href="{{how_works.video_link}}" target="_blank"><i class="flaticon-play-button"></i></a>
						</div> -->
						<!-- Video play button end -->
					</div>
				</div>
			</div>
			
			<div class="row stat-counter">
				<!-- Counter single start -->
				<!-- Counter single end -->
				
				<!-- Counter single start -->
				{% for data in icons %}
					{% if data.title == "Active User" %}
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="stats-single">
							<div class="icon-box">
								<i class="{{data.icon}}"></i>
							</div>
							
							<h3 class="counter">{{users}}</h3>
							<p>{{data.title}}</p>
						</div>
					</div>
					{% else %}
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="stats-single">
							<div class="icon-box">
								<i class="{{data.icon}}"></i>
							</div>
							
							<h3 class="counter">{{data.number}}</h3>
							<p>{{data.title}}</p>
						</div>
					</div>
					{% endif %}
				{% endfor %}
				<!-- Counter single end -->
				
				<!-- Counter single start -->
				<!-- <div class="col-md-3 col-sm-6 col-xs-6">
					<div class="stats-single">
						<div class="icon-box">
							<i class="fa fa-smile-o"></i>
						</div>
						
						<h3 class="counter">95684</h3>
						<p>Happy Users</p>
					</div>
				</div> -->
				<!-- Counter single end -->
				
				<!-- Counter single start -->
				<!-- <div class="col-md-3 col-sm-6 col-xs-6">
					<div class="stats-single">
						<div class="icon-box">
							<i class="fa fa-file-text"></i>
						</div>
						
						<h3 class="counter">24531</h3>
						<p>Downloads</p>
					</div>
				</div> -->
				<!-- Counter single end -->
			</div>
		</div>
	</section>
	<!-- how it works and stats section ends -->
	
	<!-- App Features section starts -->
	<section class="app-features" id="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2>{{features.title}}</h2>
						<p>{{features.description|safe}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">	
				<div class="col-md-6 col-sm-6">
					<!-- App Feature accordion start -->
					<div class="panel-group app-feature-accordion" id="app-feature-accordion">
						<!-- <div class="panel active wow fadeInLeft" data-wow-delay="0.2s">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#collapse1" data-toggle="collapse" data-parent="#app-feature-accordion">SEO Friendly</a></h4>
							</div>
							
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
								</div>
							</div>
						</div> -->
						
						{% for data in inner_feature %}
						<div class="panel wow fadeInLeft {% if forloop.first %}in{% endif %}" data-wow-delay="0.4s">
							<div class="panel-heading">
								<h4 class="panel-title collapsed"><a href="#collapse{{data.id}}" data-toggle="collapse" data-parent="#app-feature-accordion">{{data.inner_title}}</a></h4>
							</div>
							
							<div id="collapse{{data.id}}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}">
								<div class="panel-body">
									<p>{{data.inner_description|safe}}</p>
								</div>
							</div>
						</div>
						{% endfor %}
						
						
						
						
						
						
						
					</div>
					<!-- App Feature accordion end -->
				</div>
				
				<div class="col-md-6 col-sm-6">
					<!-- Feature image start -->
					<div class="feature-img wow fadeInRight" data-wow-delay="0.4s">
						<img src="{{features.img.url}}" alt="" />
					</div>
					<!-- Feature image end -->
				</div>
			</div>
		</div>
	</section>
	<!-- App Features section ends -->
	<!-- About us section starts -->
	<section class="" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2>{{about.title}}</h2>
						<p>{{about.description|safe}}</p>
					</div>
				</div>
			</div>
		</div>		
	</section>
	<!-- About us section ends -->
	<!-- Testimonial section starts -->
	<section class="testimonials" id="testimonial">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2>{{testimonial.title}}</h2>
						<p>{{testimonial.description|safe}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="swiper-container testimonial-slider">
						<div class="swiper-wrapper">
							<!-- Testimonial slide start -->
							{% for data in people %}
							<div class="swiper-slide">
								<div class="testimonial-single">
									<figure>
										<img src="{{data.img.url}}" alt="" />
									</figure>
									
									<h3>{{data.name}}</h3>
									<!-- <p>{{data.description|safe}}</p> -->
									<div class="description-container">
										<div class="short-description-{{ forloop.counter }}">
											<p>{{ data.description|safe|truncatechars:300 }}</p>
										</div>
										<div class="full-description-{{ forloop.counter }}" style="display: none;">
											<p>{{data.description|safe}}</p>
										</div>
									</div>
									<input type="checkbox" id="btn-{{ forloop.counter }}" />
									<label for="btn-{{ forloop.counter }}"></label>
								</div>
							</div>
							{% endfor %}
							<!-- Testimonial slide end -->
							
							<!-- Testimonial slide start -->
							<!-- Testimonial slide end -->
							
							<!-- Testimonial slide start -->
							
							<!-- Testimonial slide end -->
							
							<!-- Testimonial slide start -->
							
							<!-- Testimonial slide end -->
							
							<!-- Testimonial slide start -->
							
							<!-- Testimonial slide end -->
							
							<!-- Testimonial slide start -->
							
							<!-- Testimonial slide end -->
							
							<!-- Testimonial slide start -->
							
							<!-- Testimonial slide end -->
							
							<!-- Testimonial slide start -->
							<!-- <div class="swiper-slide">
								<div class="testimonial-single">
									<figure>
										<img src="{% static 'home_website/assets/images/author-3.jpg' %}" alt="" />
									</figure>
									
									<h3>Nogo Salad</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
							</div> -->
							<!-- Testimonial slide end -->
						</div>
					
						<!-- Testimonial Pagination start -->
						<div class="testimonial-pagination"></div>
						<!-- Testimonial Pagination end -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial section ends -->
	
	<!-- Pricing Section starts -->
	<section class="pricing" id="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2>{{pricing.title}}</h2>
						<p>{{pricing.description|safe}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<!-- Pricing single starts -->
				<div class="col-md-4 col-sm-4">
					<div class="pricing-single wow fadeInUp" data-wow-delay="0.2s">
						<div class="pricing-header">
							<div class="icon-box">
								<i class="flaticon-skyline"></i>
							</div>
							<!-- <h3>Agency  <span>20% Off</span></h3> -->
							<h4><i class="fa fa-inr" aria-hidden="true"></i>200 <span>/ 1 Month</span></h4>
						</div>
						
						<div class="pricing-body">
							<ul>
								<li>Mon - Fri Suports</li>
								<li>Monthly Update</li>
								<li>1 Account</li>
							</ul>
						</div>
						
						<div class="pricing-footer">
							<a href="#" class="btn-pricing">Get Started</a>
						</div>
					</div>
				</div>
				<!-- Pricing single ends -->
				
				<!-- Pricing single starts -->
				<div class="col-md-4 col-sm-4">
					<div class="pricing-single recommended wow fadeInUp" data-wow-delay="0.4s">
						<div class="pricing-header">
							<div class="icon-box">
								<i class="flaticon-people"></i>
							</div>
							<!-- <h3>Freelancer <span>10% Off</span></h3> -->
							<h4><i class="fa fa-inr" aria-hidden="true"></i>1000 <span>/ 6 Month</span></h4>
						</div>
						
						<div class="pricing-body">
							<ul>
								<li>Mon - Fri Suports</li>
								<li>Monthly Update</li>
								<li>1 Account</li>
							</ul>
						</div>
						
						<div class="pricing-footer">
							<a href="#" class="btn-pricing">Get Started</a>
						</div>
					</div>
				</div>
				<!-- Pricing single ends -->
				
				<!-- Pricing single starts -->
				<div class="col-md-4 col-sm-4">
					<div class="pricing-single wow fadeInUp" data-wow-delay="0.6s">
						<div class="pricing-header">
							<div class="icon-box">
								<i class="flaticon-student-reading"></i>
							</div>
							<!-- <h3>Team  <span>20% Off</span></h3> -->
							<h4><i class="fa fa-inr" aria-hidden="true"></i>2000 <span>/ 12 Month</span></h4>
						</div>
						
						<div class="pricing-body">
							<ul>
								<li>Mon - Fri Suports</li>
								<li>Monthly Update</li>
								<li>1 Account</li>
							</ul>
						</div>
						
						<div class="pricing-footer">
							<a href="#" class="btn-pricing">Get Started</a>
						</div>
					</div>
				</div>
				<!-- Pricing single ends -->
			</div>
		</div>
	</section>
	<!-- Pricing Section ends -->
	
	<!-- Screenshot section starts -->
	<section class="screenshot" id="screenshot">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2>{{screenshot.title}}</h2>
						<p>{{screenshot.description|safe}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8">
					<div class="swiper-container screenshot-slider">
						<div class="swiper-wrapper">
							<!-- Screenshot slide start -->
							{% for data in images %}
							<div class="swiper-slide">
								<div class="screen-shot-slide">
									<figure>
										<img src="{{data.img.url}}" alt="" />
									</figure>
									
									<div class="swiper-slide-text">
										<h3>{{data.title}}</h3>
										<p>{{data.description}}</p>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- Screenshot slide end -->
							
							<!-- Screenshot slide start -->
							
							<!-- Screenshot slide end -->
							
							<!-- Screenshot slide start -->
							
							<!-- Screenshot slide end -->
							
							<!-- Screenshot slide start -->
							
							<!-- Screenshot slide end -->
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="swiper-slide-right-text"></div>
					
					<!-- Screenshot Pagination start -->
					<div class="screen-shot-pagination">
						<div class="screenshot-button-prev"><i class="fa fa-long-arrow-left"></i></div>
						<div class="screenshot-button-next"><i class="fa fa-long-arrow-right"></i></div>
					</div>
					<!-- Screenshot Pagination end -->
				</div>
			</div>

		</div>
	</section>
	<!-- Screenshot section ends -->
	
	<!-- Faqs section starts -->
	<section class="faqs" id="faq">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2>{{faqs.title}}</h2>
						<p>{{faqs.description|safe}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<!-- Faq accordion start -->
					<div class="panel-group faq-accordion" id="faq-accordion">
						{% for data in QueAns %}
						<div class="panel {% if forloop.first %}in{% endif %}">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#{{data.id}}" data-toggle="collapse" data-parent="#faq-accordion">{{data.question}}</a></h4>
							</div>
							
							<div id="{{data.id}}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}">
								<div class="panel-body">
									<p>{{data.answer|safe}}</p>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
					<!-- Faq accordion end -->
				</div>
				
				<div class="col-md-6">
					<!-- Faq image start -->
					<div class="faq-image wow fadeInRight" data-wow-delay="0.4s">
						<img src="{{faqs.img.url}}" alt="" />
					</div>
					<!-- Faq image end -->
				</div>
			</div>
		</div>
	</section>
	<!-- Faqs section ends -->
	
	<!-- Download app section starts -->
	<section class="download-app">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-md-6">
					<div class="app-download-img">
						<img src="{{contact.img.url}}" alt="" />
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="download-app-content">
						<div class="section-title wow fadeInUp">
							<h2>{{contact.title}}</h2>
							<p>{{contact.description|safe}}</p>
						</div>
						
						<div class="app-download">
							<!-- <a href="{{contact.appstore_link}}" target="_blank" class="btn-download btn-apple"><i class="fa fa-apple"></i> <span>Download on the</span>App Store</a> -->
							<a href="{{contact.playstore_link}}" target="_blank" class="btn-download btn-android"><i class="fa fa-android"></i> <span>Get in on</span>Google Play</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Download app section ends -->
	
	<!-- Contact us section starts -->
	<section class="contactus" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2 style="color: #fff;">Let us know how can we help you?</h2>
						<p>People sharing their experience with everyone Lorem Ipsum is simply dummy text of the <br /> printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						
						<b style="color: #fff;">Contact Us:</b>
						<a class="section-title" href="mailto:teenzohelp@gmail.com">teenzohelp@gmail.com</a>
						
						<!-- <p> <b style="color: #232323;">Address:</b>
						<address>
							<p>1004 One World West, 10th Floor,</p>
							<p>Near Vakil Saheb Bridge,</p>
							<p>Opposite Bopal Ambali BRTS Bus Stop,</p>
							<p>Ahmedabad, 380058</p>
						</address> -->
						</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<!-- Contact Form start -->
					<div class="contact-form">
						<form action="#" method="post" data-toggle="validator">
							{% csrf_token %}
							<div class="row">
								<div class="form-group col-md-12 col-sm-12">
									<input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
									<div class="help-block with-errors"></div>
								</div>
								
								<div class="form-group col-md-12 col-sm-12">
									<textarea rows="5" name="message" id="message" class="form-control" placeholder="How we can help you?" required></textarea>
									<div class="help-block with-errors"></div>
								</div>
								
								<div class="col-md-12 col-sm-12 text-center">
									<button type="submit" class="btn-contact" title="Submit Your Message!">Send Message</button>
									<div id="msgSubmit" class="h3 text-left hidden"></div>
								</div>
							</div>
						</form>
					</div>
					<!-- Contact Form end -->
				</div>
			</div>
		</div>
	</section>
	<!-- Contact us section ends -->
	
	<!-- Social links section starts -->
	<div class="social-links">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="social-link-box wow zoomIn">
						<a href="https://www.instagram.com/teenzo_app/?igshid=MWZjMTM2ODFkZg%3D%3D" target="_blank"><i class="fa fa-instagram"></i></a>
						<a href="https://www.facebook.com/people/Teenzo-App/61551018341324/?mibextid=LQQJ4d" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="https://www.linkedin.com/in/teenzoapp/" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="https://twitter.com/TeenzoApp" target="_blank"><i class="fa fa-twitter"></i></a>
						<!-- <a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-github"></i></a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Social links section ends -->
	
	<!-- Footer section starts -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Footer logo start -->
					<div class="footer-logo">
						<a href="#"><img src="{% static 'home_website/assets/images/logo.png' %}" style="height: 50px;"alt="" /></a>
					</div>
					<!-- Footer logo end -->
					
					<!-- Footer menu start -->
					<div class="footer-menu">
						<ul>
							<li><a href="#home">Home</a></li>
							<li><a href="#howitworks">How It Works</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#about">About Us</a></li>
							<li><a href="#testimonial">Testimonial</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#screenshot">Screenshot</a></li>
							<li><a href="#faq">Faq</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
						<ul>
							<li><a href="{% url 'terms_condition' %}" target="_blank">Terms and Conditions</a></li>
							<li><a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a></li>
							<li><a href="{% url 'refund' %}" target="_blank">Refund Policy</a></li>
						</ul>
					</div>
					<!-- Footer menu end -->
					
					<!-- Footer About start -->
					<div class="footer-about">
						<!-- <p>Aliquam faucibus, dolor sit amet faucibus fermentum, dignissim <br />ipsum.Dolor sit amet faucibus fermentum, felis ipsum.</p> -->
					</div>
					<!-- Footer About end -->
					
					<!-- Footer copyright start -->
					<div class="footer-copyright">
						<p>&copy; 2023 Teenzo App</p>
					</div>
					<!-- Footer copyright end -->
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section ends -->

	<!-- Jquery Library File -->
	<script>
		const btn = document.getElementById("btn");
		const shortDescription = document.querySelector(".short-description");
		const fullDescription = document.querySelector(".full-description");

		btn.addEventListener("change", function() {
			if (btn.checked) {
				shortDescription.style.display = "none";
				fullDescription.style.display = "block";
			} else {
				shortDescription.style.display = "block";
				fullDescription.style.display = "none";
			}
		});
	</script>
	<script>
		{% for data in people %}
		const btn{{ forloop.counter }} = document.getElementById("btn-{{ forloop.counter }}");
		const shortDescription{{ forloop.counter }} = document.querySelector(".short-description-{{ forloop.counter }}");
		const fullDescription{{ forloop.counter }} = document.querySelector(".full-description-{{ forloop.counter }}");

		btn{{ forloop.counter }}.addEventListener("change", function() {
			if (btn{{ forloop.counter }}.checked) {
				shortDescription{{ forloop.counter }}.style.display = "none";
				fullDescription{{ forloop.counter }}.style.display = "block";
			} else {
				shortDescription{{ forloop.counter }}.style.display = "block";
				fullDescription{{ forloop.counter }}.style.display = "none";
			}
		});
		{% endfor %}
	</script>
	<script src="{% static 'home_website/assets/js/jquery-1.12.4.min.js' %}"></script>
	<!-- Bootstrap js file -->
	<script src="{% static 'home_website/assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'home_website/assets/js/bootsnav.js' %}"></script>
	<!-- Bootstrap form validator -->
	<script src="{% static 'home_website/assets/js/validator.min.js' %}"></script>
	<!-- Counterup js file -->
	<script src="{% static 'home_website/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'home_website/assets/js/jquery.counterup.min.js' %}"></script>
	<!-- Wow js file -->
	<script src="{% static 'home_website/assets/js/wow.js' %}"></script>
	<!-- Swiper Carousel js file -->
	<script src="{% static 'home_website/assets/js/swiper.min.js' %}"></script>
	<!-- Magnific Popup core JS file -->
	<script src="{% static 'home_website/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- SmoothScroll -->
	<script src="{% static 'home_website/assets/js/SmoothScroll.js' %}"></script>
    <!-- Main Custom js file -->
	<script src="{% static 'home_website/assets/js/function.js' %}"></script>
	<script src="{% static 'home_website/assets/js/demo.js' %}"></script>
</body>
</html>