{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Teenzo App">
    <meta name="keywords" content="Teenzo App">
    <meta name="author" content="Teenzo App">
	<!-- Page Title -->
	<title>Teenzo</title>
	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/Teenzo.jpg' %}"/>
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/Teenzo.jpg' %}"/>
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/Teenzo.jpg' %}"/>
	<!-- Google Fonts css-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- Bootstrap css -->
	<link href="{% static 'home_website/assets/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'home_website/assets/css/bootsnav.css' %}" rel="stylesheet" media="screen">
	<!-- Font Awesome icon css-->
	<link href="{% static 'home_website/assets/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{% static 'home_website/assets/css/flaticon.css' %}" rel="stylesheet" media="screen">
	<!-- Swiper's CSS -->
	<link rel="stylesheet" href="{% static 'home_website/assets/css/swiper.min.css' %}">
	<!-- Animated css -->
	<link href="{% static 'home_website/assets/css/animate.css' %}" rel="stylesheet">
	<!-- Magnific Popup CSS -->
	<link href="{% static 'home_website/assets/css/magnific-popup.css' %}" rel="stylesheet">
	<!-- Main custom css -->
	<link href="{% static 'home_website/assets/css/custom.css' %}" rel="stylesheet" media="screen">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#navbar-menu" data-offset="71">
	<!-- Header Section Starts-->
	<header>
		<nav class="navbar navbar-default navbar-sticky bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="69" data-speed="1000">
			<div class="container">  
				<div class="attr-nav">
					<ul>
						<li class="menu-link"><a href="https://play.google.com/store/apps/details?id=com.teenzo.app" target="_blank">Download App Now</a></li>
						<!-- <li class="side-menu"><a href="#"><img src="{% static 'home_website/assets/images/bar.png' %}" alt="" /></a></li> -->
					</ul>
				</div>        
				
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'home_website' %}"><img src="{% static 'home_website/assets/images/logo.png' %}" class="logo" alt=""></a>
				</div>
			</div>   
			
			<!-- Start Side Menu -->
			<div class="side">
				<a href="#" class="close-side"><i class="fa fa-times"></i></a>
				<div class="side-logo">
					<img src="{% static 'home_website/assets/images/logo.png' %}" alt="" />
				</div>
				
				<div class="widget" id="navbar-menu">
					<ul class="link">
						<li class="active scroll"><a href="#home">Home</a></li>
						<li class="scroll"><a href="#howitworks">How it Works</a></li>
						<li class="scroll"><a href="#features">Features</a></li>
						<li class="scroll"><a href="#about">About Us</a></li>
						<li class="scroll"><a href="#testimonial">Testimonial</a></li>
						<li class="scroll"><a href="#pricing">Pricing</a></li>
						<li class="scroll"><a href="#screenshot">Screenshot</a></li>
						<li class="scroll"><a href="#faq">FAQs</a></li>
						<li class="scroll"><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- Header Section ends -->
    <section class="banner">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title wow fadeInUp">
						<h2>Privacy Policy</h2>
                        <p>{{privacy.description|safe}} </p>
					</div>
				</div>
			</div>
        </div>    
    </section>
    <!-- Footer section starts -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Footer logo start -->
					<div class="footer-logo">
						<a href="#"><img src="{% static 'home_website/assets/images/logo.png' %}" style="height: 50px;"alt="" /></a>
					</div>
					<!-- Footer logo end -->
					
					<!-- Footer menu start -->
					<div class="footer-menu">
						<ul>
							<li><a href="{% url 'home_website' %}#home">Home</a></li>
							<li><a href="{% url 'home_website' %}#howitworks">How it Works</a></li>
							<li><a href="{% url 'home_website' %}#features">Features</a></li>
							<li><a href="{% url 'home_website' %}#about">About Us</a></li>
							<li><a href="{% url 'home_website' %}#testimonial">Testimonial</a></li>
							<li><a href="{% url 'home_website' %}#pricing">Pricing</a></li>
							<li><a href="{% url 'home_website' %}#screenshot">Screenshot</a></li>
							<li><a href="{% url 'home_website' %}#faq">Faq</a></li>
							<li><a href="{% url 'home_website' %}#contact">Contact</a></li>
						</ul>
						<ul>
							<li><a href="{% url 'terms_condition' %}" target="_blank">Terms and Conditions</a></li>
							<li><a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a></li>
							<li><a href="{% url 'refund' %}" target="_blank">Refund Policy</a></li>
						</ul>
					</div>
					<!-- Footer menu end -->
					
					<!-- Footer About start -->
					<div class="footer-about">
						<!-- <p>Aliquam faucibus, dolor sit amet faucibus fermentum, dignissim <br />ipsum.Dolor sit amet faucibus fermentum, felis ipsum.</p> -->
					</div>
					<!-- Footer About end -->
					
					<!-- Footer copyright start -->
					<div class="footer-copyright">
						<p>&copy; 2023 Teenzo App</p>
					</div>
					<!-- Footer copyright end -->
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section ends -->
    
	<!-- Jquery Library File -->
	<script src="{% static 'home_website/assets/js/jquery-1.12.4.min.js' %}"></script>
	<!-- Bootstrap js file -->
	<script src="{% static 'home_website/assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'home_website/assets/js/bootsnav.js' %}"></script>
	<!-- Bootstrap form validator -->
	<script src="{% static 'home_website/assets/js/validator.min.js' %}"></script>
	<!-- Counterup js file -->
	<script src="{% static 'home_website/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'home_website/assets/js/jquery.counterup.min.js' %}"></script>
	<!-- Wow js file -->
	<script src="{% static 'home_website/assets/js/wow.js' %}"></script>
	<!-- Swiper Carousel js file -->
	<script src="{% static 'home_website/assets/js/swiper.min.js' %}"></script>
	<!-- Magnific Popup core JS file -->
	<script src="{% static 'home_website/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- SmoothScroll -->
	<script src="{% static 'home_website/assets/js/SmoothScroll.js' %}"></script>
    <!-- Main Custom js file -->
	<script src="{% static 'home_website/assets/js/function.js' %}"></script>
	<script src="{% static 'home_website/assets/js/demo.js' %}"></script>
</body>
</html>
