{% extends 'base.html' %}
{% load static %}
{% block content %}


		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
				
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Teenzo</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="">Teenzo</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											QR Codes
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right"> 
								<!-- <div class="dropdown">
									<a
										class="btn btn-primary dropdown-toggle"
										href="#"
										role="button"
										data-toggle="dropdown"
									>
										January 2018
									</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Export List</a>
										<a class="dropdown-item" href="#">Policies</a>
										<a class="dropdown-item" href="#">View Assets</a>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<div class="pd-20 card-box mb-30">
						<div class="clearfix mb-20">
							<form method="get">
								<label>User Name:</label>
								<input type="text" name="app_user" class="autocomplete form-control" id="tags" autocomplete="off" placeholder="Enter username">
								<button type="submit" class="btn btn-primary" value="Search" style="margin: 20px 0;">Search</button>
								<a href="{% url 'app_qrcode_list' %}" class="btn btn-info"><i class="icon-edit icon-white"></i>Clear</a>
							</form>
						</div>
					</div>
					<!-- basic table  Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix mb-20">
							<div class="pull-left">
								<h4 class="text-blue h4">App QR Codes</h4>
								<!-- <p>Add class <code>.table</code></p> -->
							</div>
							<div class="pull-right">
								{% comment %}<a href="{% url 'app_qrcode_create' %}" class="btn btn-primary btn-block">
									Add QRCode
								</a> {% endcomment %}
							</div>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">QRCode</th>
									<th scope="col">Assign User</th>
									<!-- <th scope="col">Email</th>
									<th scope="col">Action</th> -->
									<!-- <th scope="col">Handle</th>
									<th scope="col">Tag</th> -->
								</tr>
							</thead>
							<tbody>
								{% for item in data %}
								<tr>
									<th scope="row">{{ continuous_count|add:forloop.counter }}</th>
									<td><img src="{{ item.qrCode.url }}" alt="QR Code Image" width="100" height="100"></td>
									<td>{{item.userName}}</td>
									<!-- <td>{{item.email}}</td> -->
									{% comment %}<td>
										<a class="btn btn-primary btn-block list-button" href="{% url 'app_qrcode_update' item.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
										<a class="btn btn-danger btn-block list-button" href="{% url 'app_qrcode_delete' item.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
									</td>{% endcomment %}
		
									<!-- <td>@mdo</td>
									<td><span class="badge badge-primary">Primary</span></td> -->
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="collapse collapse-box" id="basic-table">
							<div class="code-box">
								<div class="clearfix">
									<a
										href="javascript:;"
										class="btn btn-primary btn-sm code-copy pull-left"
										data-clipboard-target="#basic-table-code"
										><i class="fa fa-clipboard"></i> Copy Code</a
									>
									<a
										href="#basic-table"
										class="btn btn-primary btn-sm pull-right"
										rel="content-y"
										data-toggle="collapse"
										role="button"
										><i class="fa fa-eye-slash"></i> Hide Code</a
									>
								</div>
								<pre><code class="xml copy-pre" id="basic-table-code">
								<table class="table">
								<thead>
									<tr>
									<th scope="col">#</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									<th scope="row">1</th>
									</tr>
								</tbody>
								</table>
							</code></pre>
							</div>
						</div>
					</div>
					<!-- basic table  End -->
					<!-- Bordered table  start -->
					
					<!-- Bordered table End -->
					<!-- Striped table start -->
					
					<!-- Striped table End -->
					<!-- Responsive tables Start -->
					
					<!-- Responsive tables End -->
					<!-- Contextual classes Start -->

					<!-- Contextual classes End -->
				</div>
				<!-- <div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://github.com/dropways" target="_blank"
						>Ankit Hingarajiya</a
					>
				</div> -->
			</div>
			{% if data %}
				{% include 'simple_pagination.html' %}
			{% endif %}
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
		<script>
			$(function() {
				$("#tags").autocomplete({
					source: "{% url 'app_qr_autocomplete' %}"
				});
			});
		</script>
		
{% endblock content %}		


