{% extends 'base.html' %}
{% load static %}
{% block content %}


		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
				
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Teenzo</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_dashboard' %}">Teenzo</a>
										</li>
                    <li class="breadcrumb-item">
											<a href="{% url 'contact_list' %}">Contact</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Profile
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
								<!-- <div class="dropdown">
									<a
										class="btn btn-primary dropdown-toggle"
										href="#"
										role="button"
										data-toggle="dropdown"
									>
										January 2018
									</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Export List</a>
										<a class="dropdown-item" href="#">Policies</a>
										<a class="dropdown-item" href="#">View Assets</a>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<!-- basic table  Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix mb-20">
							
						</div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-xl-12 col-md-6">
                   <div class="card p-3">
                     <div class="blog-box blog-list row">
                       <div class="col-xl-12 col-12">
                         <div class="blog-details">
                         <h4>Profile</h4>
                           <div class="blog-bottom-content mt-3">
                               
                               <p class="mt-1 mb-2"><strong>Email:</strong> {{data.email}}</p>
                               <p class="mt-1 mb-2"><strong>Message:</strong> {{data.message}}</p>
                              
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
   
             </div>
   
					
						<div class="collapse collapse-box" id="basic-table">
							<div class="code-box">
								<div class="clearfix">
									<a
										href="javascript:;"
										class="btn btn-primary btn-sm code-copy pull-left"
										data-clipboard-target="#basic-table-code"
										><i class="fa fa-clipboard"></i> Copy Code</a
									>
									<a
										href="#basic-table"
										class="btn btn-primary btn-sm pull-right"
										rel="content-y"
										data-toggle="collapse"
										role="button"
										><i class="fa fa-eye-slash"></i> Hide Code</a
									>
								</div>
								<pre><code class="xml copy-pre" id="basic-table-code">
								<table class="table">
								<thead>
									<tr>
									<th scope="col">#</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									<th scope="row">1</th>
									</tr>
								</tbody>
								</table>
							</code></pre>
							</div>
						</div>
					</div>
					<!-- basic table  End -->
					<!-- Bordered table  start -->
					
					<!-- Bordered table End -->
					<!-- Striped table start -->
					
					<!-- Striped table End -->
					<!-- Responsive tables Start -->
					
					<!-- Responsive tables End -->
					<!-- Contextual classes Start -->

					<!-- Contextual classes End -->
				</div>
				<!-- <div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://github.com/dropways" target="_blank"
						>Ankit Hingarajiya</a
					>
				</div> -->
			</div>
		</div>
		
{% endblock content %}		


