/* Define the keyframe animation for the blink effect */
@keyframes blink {
    0% { opacity: 1; } /* Start with full visibility */
    50% { opacity: 0; } /* Disappear at 50% */
    100% { opacity: 1; } /* Reappear at 100% */
}
  
/* Apply the blink animation to the "blink" class */
.blink {
    animation: blink 1s infinite; /* Adjust the duration as needed */
}