/* ----------------------------------------------------------------------------------------
* Author        : Awaiken
* Template Name : App Launch - App Landing page HTML5 Template
* File          : App Launch main CSS file
* Version       : 3.0
* ---------------------------------------------------------------------------------------- */
/* INDEX
----------------------------------------------------------------------------------------
01. General css
02. Navigation area css
03. Slider area css
04. How it work & Stats area css
05. App Feature area css
06. Testimonial area css
07. Pricing area css
08. Screenshot area css
09. FAQs area css
10. Download Apps area css
11. Contact us area css
12. Social Links area css
13. Footer area css
14. Media Screens
-------------------------------------------------------------------------------------- */

/************************************/
/***** 	   01. General css		 ****/
/************************************/

body{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

body.on-side{
	margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top:0;
	font-weight: 700;
}

img{
	max-width: 100%;
}

a:hover{
	text-decoration: none;
	outline: 0;
}

a:focus{
	text-decoration: none;
	outline: 0;
}

::-moz-selection{
	background: #00d664;
	color: #fff;
}

::selection{
	background: #2F4779;
	color: #fff;
}

.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #2F4779;
	z-index: 9999;
}

.sk-wave{
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -25px;
}

.sk-wave .sk-rect{
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
	-moz-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
	animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1{
	-webkit-animation-delay: -1.2s;
	-moz-animation-delay: -1.2s;
	animation-delay: -1.2s;
}

.sk-wave .sk-rect2{
	-webkit-animation-delay: -1.1s;
	-moz-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.sk-wave .sk-rect3{
	-webkit-animation-delay: -1s;
	-moz-animation-delay: -1s;
	animation-delay: -1s;
}

.sk-wave .sk-rect4{
	-webkit-animation-delay: -0.9s;
	-moz-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.sk-wave .sk-rect5{
	-webkit-animation-delay: -0.8s;
	-moz-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.btn-custom{
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 14px 30px;
	min-width: 170px;
	text-align: center;
	color: #fff;
	box-shadow: 1px 2px 46px 0px rgba(0,0,0,0.1);
	background: #16c9f6;
	background: linear-gradient(left, #3ccdbb 0%, #16c9f6 100%);
	background: -webkit-linear-gradient(left, #3ccdbb 0%, #16c9f6 100%);
	background: -moz-linear-gradient(left, #3ccdbb 0%, #16c9f6 100%);
	background: -o-linear-gradient(left, #3ccdbb 0%, #16c9f6 100%);
}

.btn-custom:hover{
	background: #16c9f6;
	color: #fff;
}

.row.no-gutters{
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

/************************************/
/***** 02. Navigation area css  *****/
/************************************/
.wrap-sticky{
	height: auto !important;
}

body.on-side .wrap-sticky nav.navbar.bootsnav.sticked{
	left: 0;
}

.navbar{
	margin-bottom: 0;
}

.navbar-brand{
	padding: 18px 15px;
	height: auto;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

.navbar-brand img{
	height: 50px;
	transition: all 0.3s;
}

nav.navbar.bootsnav{
	background: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(255,255,255,0);
	z-index: 101;
	padding: 0;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}

.navbar-nav li{
	padding: 30px 0;
	margin:0 2px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

.nav li{
    position: relative;
}

.menu-link a{
	background: #2F4779;
	color: #fff !important;
	padding: 10px 20px !important;
	border-radius: 30px;
	margin-top: 24px !important;
	border: 2px solid transparent;
}

.menu-link a:hover{
	background: #333;
}

.navbar-default .navbar-nav>li>a{
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.05em;
	padding: 8px 10px 4px; 
	position: relative;
	border: 1px solid transparent;
}

.attr-nav > ul > li > a{
	margin-top: 32px;
	padding: 0 15px 0;
	transition: all 0.3s ease-in-out;
}

.nav ul{
	display: none;
	padding: 0;
	min-width: 214px;
	list-style: none;
    position: absolute;
	top: 100%;
	left: 0;
	background: #16c9f6;
	background: linear-gradient(to left, #3ccdbb 0%, #16c9f6 100%);
	background: -webkit-linear-gradient(to left, #3ccdbb 0%, #16c9f6 100%);
	background: -moz-linear-gradient(to left, #3ccdbb 0%, #16c9f6 100%);
	background: -o-linear-gradient(to left, #3ccdbb 0%, #16c9f6 100%);
	margin-top: 0px;
}

.nav ul li{
	transition: all 0.4s;
	margin: 0;
}

.nav ul li:hover{
	background: rgba(255,255,255,0.14);
}

.nav ul li a:hover{
	color: #000;
}

.nav ul li a{
	border: none !important;
}

.nav .active a{
	background: none !important;
	color: #ffc600 !important;
	transition: all 0.3s;
}

.nav ul li a{
	display: block;
	color: #fff;
	padding: 12px 20px;
}

.nav .active ul li a{
	border: none !important;
}

.nav ul ul{
	left: 100%;
	top: 0;
	margin-top: -1px;
}

.nav ul li{
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-bottom: 1px solid rgba(255,255,255,0.12);
}

.nav ul li:last-child{
	border-bottom: none;
}

.wrap-sticky nav.navbar.bootsnav{
	position: fixed;
}

.wrap-sticky nav.navbar.bootsnav.sticked{
	background: #2F4779;
	border-bottom: 1px solid rgba(255,255,255,0.0);
	transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.sticky-header .navbar-brand{
	padding-top: 12px;
}

.sticked .navbar-brand{
	padding: 12px 15px;
}

.sticked .navbar-brand img{
	height: 45px;
	filter: brightness(0) invert(1);
}

.sticked .attr-nav > ul > li > a{
	padding-top: 8px;
	margin-top: 16px !important;
}

.sticked .menu-link a{
	border-color: #fff;
	font-size: 14px;
	padding: 8px 20px !important;
}

.sticked .menu-link a:hover{
	border-color: transparent;
}

.sticky-header .navbar-nav>li{
	padding: 18px 0;
}

.sticky-header .navbar-brand h1{
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #000;
}

.navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}

.sticky-header .navbar-nav>li>a{
	color: #fff;
}

.side{
	background: #333;
	padding: 0;
}

.side .close-side{
	position: absolute;
	top: 10px;
	right: 20px;
}

.side-logo{
	text-align: center;
	padding: 40px 30px;
}

/* .banner .main-logo {
    text-align: center;
    padding: 40px 30px;
	float:right;
    width: 200px;
    margin-right: 360px;
}

.banner .main-logo h5{
	font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
    margin-bottom: 4px;
} */

.side .widget ul.link li a{
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	padding: 12px 20px 12px 40px;
	border-bottom: 1px dashed #3c3c3c;
	position: relative;
}

.side .widget ul.link li.active a{
	color: #fff;
}

.side .widget ul.link li.active a:before{
	border-color: #fff;
}

.side .widget ul.link li a:before{
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border: 2px solid #9f9f9f;
	border-radius: 50%;
	position: absolute;
	left: 20px;
	top: 18px;
}

.side .widget ul.link li a:hover:before{
	border-color: #fff;
}

/************************************/
/*****   03. Slider area css    *****/
/************************************/

.banner{
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;
	background: #f4f8f7;
	padding: 140px 0 100px;
}

.banner .row{
	position: relative;
	z-index: 1;
}

.banner .main-logo { 
    text-align: center;
    padding: 40px 30px;
	float:right;
    width: 200px;
    margin-right: 360px;
}

.banner .main-logo h5{
	font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
    margin-bottom: 4px;
}

.banner-image{
	text-align: center;
}

.banner-entry{
	border-left: 4px solid #2F4779;
	padding: 0 20px;
	margin-top: 70px;
}

.banner-entry h4{
	font-size: 14px;
	color: #9b9b9b;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 4px;
}

.banner-entry h2{
	font-size: 40px;
	color: #2F4779;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.banner-entry p{
	color: #9b9b9b;
	line-height: 1.8em;
	font-size: 14px;
	letter-spacing: 0.04em;
	margin-bottom: 1.5em;
}

.extra {
	display: none;
}
input[type="checkbox"] {
	height: 2em;
	display: block;
	appearance: none;
}
label{
	position: relative;
	padding: 1em;
	/* background-color: #2F4779; */
	color: #2F4779;
	cursor: pointer;
}
label:before {
	content: "Read More >>";
}
input[type="checkbox"]:checked ~ label:before{
	content: "Read Less <<";
}
/* 
.dots:has(~input[type="checkbox"]:checked){
	display: none;
}
.extra:has(~input[type="checkbox"]:checked){
	display: inline;
} */

.download-button{
	margin-top: 40px;
}

.download-button span{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #232323;
	text-transform: uppercase;
	position: relative;
	padding-right: 60px;
}

.download-button span:after{
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	background: #232323;
	position: absolute;
	top: 50%;
	right: 0;
}

.download-button a{
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	color: #2F4779;
	margin: 0 10px;
}

/********************************************/
/***** 04. How it work & Stats area css *****/
/********************************************/

.section-title{
	margin-bottom: 80px;
}

.section-title h2{
	color: #232323;
	font-size: 30px;
	position: relative;
	padding-bottom: 20px;
}

.section-title h2:before{
	content: '';
	width: 68px;
	height: 1px;
	background: #2F4779;
	position: absolute;
	bottom: 4px;
	left: 0;
}

.section-title h2:after{
	content: '';
	width: 58px;
	height: 1px;
	background: #2F4779;
	position: absolute;
	bottom: 0;
	left: 0;
}

.section-title p{
	margin-top: 20px;
	color: #9b9b9b;
	font-size: 14px;
	line-height: 1.6em;
}

.how-it-works{
	padding: 100px 0;
}

.how-it-works .section-title{
	margin-bottom: 30px;
}

.btn-textlink{
	display: inline-block;
	color: #2F4779;
	font-weight: 500;
	position: relative;
	padding-right: 60px;
	transition: all 0.4s;
}

.btn-textlink:after{
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	background: #2F4779;
	position: absolute;
	right: 0;
	top: 50%;
	transition: all 0.4s;
}

.btn-textlink:hover{
	color: #333;
}

.btn-textlink:hover:after{
	background: #333;
}

.btn-play{
	position: relative;
	display: inline-block;
	border-radius: 50%;
}

.btn-play img{
	border-radius: 50%;
}

.btn-play a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 80px;
	border-radius: 50%;
	background: rgba(0,0,0,0.3);
	color: #fff;
	text-align: center;
}

.btn-play a:before{
	content: '';
	position: absolute;
	top: -20%;
	left: -20%;
	width: 140%;
	height: 140%;
	border: 2px solid #999;
	border-radius: 50%;
	transform: scale(0.6);
	z-index: -1;
	-webkit-animation: border-zooming 1s infinite linear;
	animation: border-zooming 1s infinite linear;
}

.btn-play a:after{
	content: '';
	position: absolute;
	top: -20%;
	left: -20%;
	width: 140%;
	height: 140%;
	border: 2px solid #999;
	border-radius: 50%;
	transform: scale(0.6);
	z-index: -1;
	-webkit-animation: border-zooming 1s infinite linear;
	animation: border-zooming 1s infinite linear;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes border-zooming{
	100%{
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes border-zooming{
	100%{
		transform: scale(1);
		opacity: 0;
	}
}

.btn-play a i{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.stat-counter{
	margin-top: 80px;
}

.stats-single{
	text-align: center;
	position: relative;
} 

.stat-counter .col-md-3:after{
	content: '';
	display: block;
	width: 1px;
	height: 50px;
	background: #9b9b9b;
	position: absolute;
	right: 0;
	bottom: 0;
}

.stat-counter .col-md-3:last-child:after{
	display: none;
}

.stats-single .icon-box{
	color: #9b9b9b;
	font-size: 35px;
	margin-bottom: 10px;
}

.stats-single h3{
	font-size: 30px;
	color: #2F4779;
	font-weight: 600;
	margin: 0;
}

.stats-single p{
	font-size: 14px;
	color: #232323;
	font-weight: 500;
	margin-bottom: 0;
}

/********************************************/
/*****    05. App Feature area css      *****/
/********************************************/

.app-features{
	background: #f4f8f7 url({% static 'home_website/assets/images/feature-bg.png' %}) no-repeat center center;
	padding: 100px 0;
}

.feature-img{
	text-align: center;
}

.app-feature-accordion .panel{
	background: none;
	border-radius: 0;
	box-shadow: none;
}

.app-feature-accordion .panel-heading{
	padding: 0;
}

.app-feature-accordion .panel-heading h4 a{
	display: block;
	color: #232323;
	font-size: 18px;
	font-weight: 500;
	padding: 12px 0 12px 30px;
	position: relative;
}

.app-feature-accordion .panel-heading h4 a:before{
	content: '\f105';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	color: #2F4779;
	font-size: 30px;
}

.app-feature-accordion .panel-body{
	padding: 10px 0 0 30px;
	border: none !important;
}

.app-feature-accordion .panel-body p{
	font-size: 12px;
	color: #9b9b9b;
	line-height: 1.8em;
}

/********************************************/
/*****    06. Testimonial area css      *****/
/********************************************/

.testimonials{
	padding: 100px 0;
}

.testimonial-single{
	text-align: center;
}

.testimonial-single figure{
	margin-bottom: 36px;
	position: relative;
}

.testimonial-single figure:after{
	content: '\f08a';
	display: block;
	font-family: FontAwesome;
	width: 34px;
	height: 34px;
	background: #e50c3f;
	border-radius: 50%;
	color: #fff;
	line-height: 38px;
	position: absolute;
	bottom: -17px;
	left: 50%;
	margin-left: -17px;
}

.testimonial-single figure img{
	border-radius: 50%;
}

.testimonial-single h3{
	font-size: 16px;
	color: #232323;
	font-weight: 600;
}

.testimonial-single p{
	font-size: 12px;
	color: #9b9b9b;
	line-height: 1.5em;
}

.testimonial-pagination{
	text-align: center;
	margin-top: 50px;
}

.testimonial-pagination .swiper-pagination-bullet{
	opacity: 1;
	width: 14px;
	height: 14px;
	background: none;
	border: 3px solid #2F4779;
}

.testimonial-pagination .swiper-pagination-bullet-active{
	background: #2F4779;
}

/********************************************/
/*****      07. Pricing area css        *****/
/********************************************/

.pricing{
	padding: 100px 0;
	background: #f4f8f7 url({% static 'home_website/assets/images/pricing-bg.png' %}) no-repeat top center;
}

.pricing-single{
	text-align: center;
	padding: 40px;
}

.pricing-single.recommended{
	background: #fff;
	box-shadow: 0px 24px 114px 0px rgba(0, 0, 0, 0.17);
}

.pricing-header .icon-box{
	font-size: 80px;
	color: #232323;
	line-height: 76px;
	border-bottom: 1px solid #232323;
}

.pricing-header h3{
	font-size: 18px;
	color: #9b9b9b;
	font-weight: 600;
	text-align: left;
	padding: 8px 0;
}

.pricing-header h3 span{
	float: right;
	color: #2F4779;
}

.pricing-header h4{
	font-size: 50px;
	color: #2F4779;
	font-weight: 600;
	margin: 30px 0;
}

.pricing-header h4 span{
	font-size: 20px;
}

.pricing-body ul{
	list-style: none;
	padding: 0;
	max-width: 240px;
	margin: 0 auto;
}

.pricing-body ul li{
	color: #9b9b9b;
	font-weight: 300;
	padding: 12px 0;
	border-bottom: 1px solid #d8d9d9;
}

.pricing-footer{
	margin-top: 30px;
}

.btn-pricing{
	display: inline-block;
	border: 2px solid #2F4779;
	padding: 10px 30px;
	border-radius: 40px;
	color: #2F4779;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.btn-pricing:hover{
	background: #2F4779;
	color: #fff;
}

/********************************************/
/*****     08. Screenshot area css      *****/
/********************************************/

.screenshot{
	padding: 100px 0;
}

.screenshot .swiper-slide-text{
	display: none;
}

.screen-shot-slide img{
	border: 1px solid #e2e2e2;
}

.swiper-slide-active .screen-shot-slide img{
	border-color: #00d664;
}

.swiper-slide-right-text{
	margin-top: 20px;
}

.swiper-slide-right-text h3{
	font-size: 26px;
	color: #232323;
	font-weight: 600;
	margin-bottom: 20px;
}

.swiper-slide-right-text p{
	font-size: 14px;
	color: #9b9b9b;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.screenshot-button-prev,
.screenshot-button-next{
	display: inline-block;
	width: 34px;
	height: 34px;
	background: #2F4779;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 34px;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.screenshot-button-prev:hover,
.screenshot-button-next:hover{
	background: #232323;
}

/********************************************/
/*****        09. FAQs area css         *****/
/********************************************/

.faqs{
	padding: 100px 0;
	background: #f4f8f7;
}

.faq-image{
	text-align: center;
}

.faq-accordion{
	
}

.faq-accordion .panel{
	background: none;
	box-shadow: none;
}

.faq-accordion .panel-heading{
	padding: 0;
}

.faq-accordion .panel-heading h4 a{
	display: block;
	padding: 16px;
	font-size: 16px;
	color: #232323;
	font-weight: 500;
	background: #fff;
	position: relative;
}

.faq-accordion .panel-heading h4 a:after{
	content: '\f063';
	font-family: FontAwesome;
	color: #232323;
	position: absolute;
	right: 18px;
	top: 18px;
	transition: all 0.6s ease-in-out;
}

.faq-accordion .panel.active .panel-heading h4 a:after{
	transform: rotate(180deg);
}

.faq-accordion .panel-body{
	border: none !important;
	padding: 0 20px;
	margin: 20px 0;
	border-left: 2px solid #2F4779 !important;
}

.faq-accordion .panel-body p{
	font-size: 12px;
	color: #9b9b9b;
	line-height: 1.8em;
}

/********************************************/
/*****   10. Download Apps area css     *****/
/********************************************/

.download-app-content{
	padding: 8%;
}

.download-app .container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.download-app-content .section-title{
	margin-bottom: 40px;
}

.app-download-img img{
	width: 100%;
}

.btn-download{
    position: relative;
    display: inline-block;
    background: #232323;
    color: #fff;
    padding: 10px 30px 10px 64px;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    text-align: left;
    border-radius: 40px;
    transition: all 0.1s linear;
}

.btn-download i {
    font-size: 32px;
    position: absolute;
    top: 11px;
    left: 20px;
}

.btn-download span{
    font-size: 10px;
    display: block;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.btn-download:hover{
	background: #000;
	color: #fff;
}

/********************************************/
/*****     11. Contact us area css      *****/
/********************************************/

.contactus{
	padding: 100px 0;
	background: #2F4779;
}

.contactus .section-title{
	text-align: center;
}

.contactus .section-title h2:before,
.contactus .section-title h2:after{
	background: #fff;
	left: 50%;
}

.contactus .section-title h2:before{
	margin-left: -34px;
}

.contactus .section-title h2:after{
	margin-left: -29px;
}

.contactus .section-title p,a{
	color: #fff;
}

.contact-form{
	max-width: 500px;
	margin: 0 auto;
}

.contact-form .form-control{
	border-radius: 0;
	box-shadow: none;
	background: none;
	border: none;
	border-bottom: 1px solid #fff;
	outline: 0;
	color: #fff;
	padding: 14px 0;
	height: auto;
	resize: none;
}

.contact-form .form-control::-webkit-input-placeholder{
	color: #fff;
}

.contact-form .form-control::-moz-placeholder{
	color: #fff;
}

.contact-form .form-control:-ms-input-placeholder{
	color: #fff;
}

.contact-form .form-control:-moz-placeholder{
	color: #fff;
}

.btn-contact{
	border: none;
	background: #fff;
	border-radius: 40px;
	color: #2F4779;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	padding: 12px 20px 10px;
	margin-top: 20px;
	box-shadow: none;
	outline: 0;
	transition: all 0.3s;
}

.btn-contact:hover{
	background: #232323;
	color: #fff;
}

/********************************************/
/*****     12. Social Links area css    *****/
/********************************************/

.social-links{
	padding: 40px 0;
	border-bottom: 1px solid #eaeeed;
}

.social-link-box{
	text-align: center;
}

.social-link-box a{
	display: inline-block;
	font-size: 50px;
	color: #9b9b9b;
	padding: 0 30px;
	transition: all 0.3s ease-in-out;
}

.social-link-box a:hover{
	color: #2F4779;
}

/*******************************************/
/*****       13. Footer area css       *****/
/*******************************************/

footer.footer{
	padding: 80px 0;
	background: #f4f8f7;
}

.footer-logo{
	text-align: center;
}

.footer-menu{
	text-align: center;
	margin-top: 20px;
}

.footer-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-menu ul li{
	display: inline-block;
}

.footer-menu ul li a{
	font-size: 14px;
	display: block;
	color: #9b9b9b;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	padding: 6px 10px;
	position: relative;
}

.footer-menu ul li a:hover{
	color: #2F4779;
}

.footer-menu ul li a:after{
	content: '';
	display: block;
	width: 1px;
	height: 16px;
	background: #9b9b9b;
	position: absolute;
	right: -2px;
	top: 8px;
}

.footer-menu ul li:last-child a:after{
	display: none;
}

.footer-copyright,
.footer-about{
	text-align: center;
	margin-top: 20px;
}

.footer-copyright p,
.footer-about p{
	color: #9b9b9b;
	font-size: 14px;
	margin-bottom: 0;
}

/************************************/
/*****    14. Media Screens     *****/
/************************************/

@media only screen and (max-width: 991px){
	nav.navbar.bootsnav .navbar-header{
		padding-left: 0;
		padding-right: 0;
	}
	
	nav.navbar.bootsnav .navbar-brand{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	
	.pricing-single{
		padding: 20px;
	}
	
}

/* Mobile Layout */
@media only screen and (max-width: 767px){
	nav.navbar.bootsnav .navbar-brand{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.attr-nav > ul > li.menu-link{
		display: none;
	}
	
	.section-title h2{
		font-size: 24px;
	}
	
	/* .section-title p br{
		display: none;
	} */
	
	.banner{
		padding-bottom: 60px;
	}
	
	.how-it-works,
	.app-features,
	.testimonials,
	.pricing,
	.screenshot,
	.faqs,
	.contactus,
	footer.footer{
		padding: 60px 0;
	}
	
	.banner-entry{
		margin-top: 0;
	}
	
	.banner-entry h2{
		font-size: 30px;
	}
	
	.banner-image{
		margin-top: 40px;
	}

	.banner .main-logo {
        float: right;
		margin: 0;
    }
	
	.video-play{
		text-align: center;
		padding: 40px 40px 0;
	}
	
	.stat-counter .col-md-3:nth-of-type(2n + 2):after{
		display: none;
	}
	
	.stats-single{
		margin-top: 30px;
	}
	
	.feature-img{
		margin-top: 40px;
	}
	
	.pricing-single{
		max-width: 360px;
		margin: 0 auto 40px;
	}
	
	.screen-shot-slide,
	.screen-shot-pagination{
		text-align: center;
	}
	
	.swiper-slide-right-text{
		text-align: center;
		margin-top: 40px;
	}
	
	.swiper-slide-right-text h3{
		font-size: 20px;
	}
	
	.faq-image{
		margin-top: 50px;
	}
	
	.social-link-box a{
		font-size: 20px;
		padding: 0 10px;
	}
}