/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/03/2018 11:56
*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-play-button:before { content: "\f100"; }
.flaticon-bar-chart:before { content: "\f101"; }
.flaticon-team:before { content: "\f102"; }
.flaticon-people:before { content: "\f103"; }
.flaticon-responsive:before { content: "\f104"; }
.flaticon-translate:before { content: "\f105"; }
.flaticon-skyline:before { content: "\f106"; }
.flaticon-student-reading:before { content: "\f107"; }
.flaticon-file:before { content: "\f108"; }
.flaticon-clock:before { content: "\f109"; }
.flaticon-settings:before { content: "\f10a"; }
.flaticon-chrome-logo:before { content: "\f10b"; }
.flaticon-letter-b-symbol:before { content: "\f10c"; }
.flaticon-trophy:before { content: "\f10d"; }